html, body {
	height: 100%;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.container {
	height: 100%;
}

.title {
	margin: 1rem -0px;
}

.description {
	margin-bottom: 1rem;
}

.btn {
	min-width: 150px;
}
